.CollapseBox{
  
    display: flex;
    flex-direction: column;
    width: auto;
     background: #F7F7F7;
     border-radius: 5px;
    

}
.collapse-title{
display: flex;
flex-direction: row;
justify-content: space-between;
color:#FFFFFF;
background: #FF6060;
min-width: 45%;
height:29.93px;
border-radius: 5px;

}


.collapse-toggle-button:active:before{
    display: flex;
    justify-content: flex-end;
    background: #FF6060;
    transform: rotate(0deg);
    

}
.collapse-toggle-button:active::after{
    background: #FFFFFF;
    background: #FF6060;
    transform: rotate(180deg);
    display: flex;
    justify-content: flex-end;
    

}

.collapse-text{
    color:#FF6060;
    background: #F7F7F7;
    padding: 2%;
    
}
.CollapseClosed{
    display: flex;
    flex-direction: column;
     background: #F7F7F7;
     border-radius: 5px;
  
    
}

.CollapseOpen{


     background: #F7F7F7;
     border-radius: 5px;
    
}